params {
  genome=""
  ncbi=""
  keywords=""
  
  blast_cpu=4
  blastp="blastp"

  hmm_search="hmmsearch"
  hmm_scan="hmmscan"
  hmm_press="hmmpress"
  hmm_cpu=4
  hmm_evalue="1e-5"
  bedToBigBed="bedToBigBed"
  faToTwoBit="faToTwoBit"

  input=""
  output=""
  cov = ""
  bam = ""
}

manifest {
  homepage = 'https://github.com/metagenomics/bioPipeline'
  description = 'Tool for gene prediction in metagenomics using HMMs.'
}

profiles {

    standard {
        process.executor = 'sge'
        process.penv = 'multislot'
        process.clusterOptions = '-l arch=lx24-amd64'
        process.errorStrategy = 'retry'
        process.maxRetries = 400
	process.maxErrors = -1
    }

    local {
        process.executor = 'local'
    }
}
