params {
  DATABASE {
    GENOME="/homes/benedikt/git/bioPipeline/test/testPlantDB/db.faa"
    NCBI="/homes/benedikt/git/bioPipeline/testData/database/minBlastDB/blast.db"
  }
  BLAST {
    CPU=8
    P="/vol/cmg/bin/blastp"
  }
  CREATEFOLDER = "/vol/pathomg/Skripte/createFolder.sh"
  HMM {
    SEARCH="/vol/biotools/bin/hmmsearch"
    SCAN="/vol/biotools/bin/hmmscan"
    PRESS="/vol/biotools/bin/hmmpress"
    CPU=16
    EVALUE="1e-15"
    INPUT="/homes/benedikt/git/bioPipeline/test/hmmFolder"
    OUTPUT=""
  }
  cov = "/vol/pathomg/DB/Plant1DNA1_gt1kb_bt2.bam.coverage.txt,/vol/pathomg/DB/Plant2DNA1_gt1kb_bt2.bam.coverage.txt,/vol/pathomg/DB/Plant3DNA1_gt1kb_bt2.bam.coverage.txt,/vol/pathomg/DB/Plant4DNA1_gt1kb_bt2.bam.coverage.txt"
  out = ""
  bam = ""
}

process {
  executor = 'sge'
  penv = 'multislot'
}

manifest {
  homepage = 'https://github.com/metagenomics/bioPipeline'
  description = 'Tool for gene prediction in metagenomics using HMMs.'
}
