params {
  GENOME=""
  NCBI=""
  
  BLAST_CPU=8
  BLASTP="blastp"

  HMM_SEARCH="hmmsearch"
  HMM_SCAN="hmmscan"
  HMM_PRESS="hmmpress"
  HMM_CPU=16
  HMM_EVALUE="1e-15"

  INPUT=""
  OUTPUT=""
  cov = ""
  bam = ""
}

manifest {
  homepage = 'https://github.com/metagenomics/bioPipeline'
  description = 'Tool for gene prediction in metagenomics using HMMs.'
}

profiles {

    standard {
        process.executor = 'sge'
        process.penv = 'multislot'
    }

    local {
        process.executor = 'local'
    }
}
