params {
  DATABASE {
    GENOME="/vol/pathomg/DB/Plant1234DNA12_k31_gt1kb_genes.faa"
    NCBI="/vol/biodb/asn1/nr"
  }
  BLAST {
    CPU=8
    P="/vol/cmg/bin/blastp"
  }
  CREATEFOLDER = "/vol/pathomg/Skripte/createFolder.sh"
  HMM {
    SEARCH="/vol/biotools/bin/hmmsearch"
    SCAN="/vol/biotools/bin/hmmscan"
    PRESS="/vol/biotools/bin/hmmpress"
    CPU=16
    EVALUE="1e-15"
    INPUT=""
    OUTPUT=""
  }
}

process {
  executor = 'sge'
  penv = 'multislot'
}
