<div id="search" class="scroll-target-margin row">
</div>
<div class="row scroll-target-margin">
    <div class="col-md-12">
        <h2 class="text-center">{{ components.search.title }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table
                id="table"
                data-pagination="true"
                data-show-columns="true"
                data-filter-control="true"
                >
            <thead>
            <tr>
            </tr>
            </thead>
        </table>
    </div>
</div>